/* Chat Window Styles */
:host {
    display: block;
    height: 100%;
}

.bg-checkered {
    background-image: radial-gradient(#f1f1f1 1px, transparent 1px);
    background-size: 20px 20px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}